.screen-container {
  width: calc(100% - 100px);
  height: 100%;
  background: rgb(19, 183, 250);
  background: radial-gradient(
    circle,
    rgba(19, 183, 250, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

.content {
  position: relative;
  height: 100px;
}

.content h2 {
  color: #fff;
  font-size: 5.5em;
  position: absolute;
  margin-left: 200px;
  top: -15px;
  white-space: nowrap;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.content h2:nth-child(1) {
  color: white;
  -webkit-text-stroke: 2px #3d6af1;
}

.content h2:nth-child(2) {
  color: #3d6af1;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.flex{
  display: flex;
}
